.navbar {
  width: 100%;
  height: 53px;
  background-color: #f7f4e9;
}

.navbar-title {
  margin: auto;
  color: #e40c2b;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.button {
  width: 100;
  height: 50;
  background-color: #e40c2b;
}
